# --- PNPM CONFIG ---

# zawsze instaluj dependencies z lockfile (stabilne buildy)
frozen-lockfile=true

# automatyczne hoistowanie Reacta i React-Dom,
# żeby nie było konfliktów "multiple copies of React"
public-hoist-pattern[]=react
public-hoist-pattern[]=react-dom

# zalecane też dla styled-jsx (używa Next.js)
public-hoist-pattern[]=styled-jsx

# używaj symlinków zamiast kopiowania node_modules
node-linker=hoisted

# sprawdzaj spójność wersji peerDependencies
strict-peer-dependencies=false

# zawsze zapisuj lockfile w formacie v9 (pnpm 9+)
lockfile-format=9

# cache localny w projekcie
store-dir=.pnpm-store
